.food-truck-container ol.circle-bullets {
  list-style-type: none;
}

.food-truck-container ol.circle-bullets-inner {
  list-style-type: none;
  padding-left: 2em;
}

ol {
  list-style-type: none;
}

.food-truck-container ol {
  list-style-type: none;
  padding-left: 2em;
}

div#food-truck-container ol.circle-bullets {
  list-style-type: none;
  padding-left: 2em;
}
